body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #171233;
    color: #eeca06;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-color: #9d8ec4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #eeca06;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color: #6659a5;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

a {
    color: #3b3170;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #271f4f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #3b3170;
}